{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>


    {% include 'snippets/header.html' %}

  </head>


  <body>



    <style type="text/css">
        .main{
            min-heigth: 100vh;
            height: 100%;
            }
            #bg{
              background-size: 1920px 1080px;
              background-repeat: no-repeat;
              background-position: top;
              background-attachment: fixed;
}
    </style>
    <div class = "main">
    {% block content %}

    {% endblock content %}
    </div>

    {% include 'snippets/footer.html' %}
  </body>
</html>
