{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}




<div class="container" style="padding: 100px 0px">
<h1>Welcome,{{request.user.tutor.first_name}} {{request.user.tutor.Last_name}}</h1> <div style="text-align: right; margin-top: -100px;"> <strong>Logged in as Instructor</strong> </div>

</div>
<hr>
<h2> My Courses </h2> </p>
<hr>
<div class="row">

  {% for s in series %}
<div class="col-md-3"
<a href="{{ s.get_absolute_url}}">
<img src="{{s.thumbnail.url}}" alt="..." width="200" height="150"> </a> <p>
<strong> <a href="{{ s.get_absolute_url}}"> {{s.series_title}} </a> </strong></p>

</div>
  {% endfor %}
  </div>



<div style="padding: 100px 0px;">
<div class="alert alert-success alert-white rounded" >
  Create a new Course
  </div>




  <form class="form-horizontal" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="form-group col-md-6">
  <label for="title">Course Title:</label>
<input type="text" class="form-control" name="series_title" id="title" required>
  <label for="sel1">Select Course Category:</label>
  <select class="form-control" name="series_category">
     <option value="" selected disabled>Please select</option>
    {% for c in cat%}
    <option value="{{c.id}}">{{c.tutorial_category}}</option>
    {% endfor %}
  </select>
  <label for="detail">Course Detail:</label>
<textarea class="form-control" rows="5" id="detail" name="series_summary" required></textarea>
<label for="thumbnail">Select thumbnail</label>
<input type="file" name="thumbnail" class="form-control-file" id="exampleFormControlFile1" required>
<label for="price">Course Price:</label>
<input type="number" class="form-control" name="price" id="price" required> <br>
<button type="submit" class="btn btn-success"> Create </button>
</div>


  </form>


</div>



{% endblock content %}
